<header><a href="/"><img src="/assets/favicon/favicon.png" width="50px" class="logo" style="">The Dregs</a></header>
<p>D&D 4E world doc</p>
<p><a href="/entries-landing/">ENTRIES</a> ... <a href="/notes/">NOTES</a> ... <a href="/howto/">HOW-TO</a></p>
<hr>